nav{
	background-color:#EB5757;
	font-family: 'Open Sans', sans-serif;
}
body{
	background-color:#303030 ;
	font-family: 'Roboto', sans-serif;
}
.card-image{
	max-height:100%;
}
.card-content{
	max-height:50%;
}